html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.container {
flex-basis: 80%;
}
.rooms-list {
  background-color: aliceblue;
  height: 620px;  
  flex-basis: 20%;
}
ul {
  list-style: none;
  width: 100%;
  height: 100%;
  padding: 5px;
}

.active-room {
  color: green;
  font-weight: bolder;
}

li {
  margin-top: 10px;
  cursor: pointer;
}

.ugly-image {
  display: block!important;
  margin: 0 auto!important;
  width: 200px;
}